* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #8ebdfa;
  font-family: Arial, sans-serif;
}

.header {
  margin-top: 20px;
  background-color: #bed1eb;
}

.body1 {
  margin-top: 10px;
  background-color: #b5143c;
}

div {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
  border-radius: 20px;
  text-align: center;
}
