* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #8ebdfa;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

.header {
  padding: 10px;
  margin: 5px;
  background-color: #bed1eb;
}

.body1 {
  background-color: #b5143c;
}
